myvenv/
__pycache__/*
locustfile.py
venv
.idea
__pycache__/
*.pyc
*.pyo
config.yml
logs/
src/apps/alembic.ini
*.log
export
.venv
tmp/
*.json
*yaml
cofee_store.coffee_store
CafeCoffeeDay/__pycache__/*
coffee_store/__pycache__
.env